<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style-dashboard.css' %}">
</head>
<body>
    <header>
        <h1>Your Tasks</h1>
        <div class="logout-container">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </header>
    <main>
        <!-- Kontener zadań -->
        <div class="task-container">
            {% for task in tasks %}
            <div class="task-card">
                <h2>{{ task.name }}</h2>
                <p>{{ task.description }}</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ task.progress }}%;"></div>
                </div>
                <p>{{ task.progress }}% Complete</p>
                <!-- Link do szczegółów zadania -->
                <a href="{% url 'task_detail' task.id %}" class="details-link">View Details</a>
                <!-- Przycisk usuwania zadania -->
                <form method="POST" action="{% url 'delete_task' task.id %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-task-btn">Delete Task</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <!-- Przycisk dodawania zadań -->
        <button class="add-task-btn" onclick="location.href='{% url 'create_task' %}'">Add Task</button>
        <ul>
            {% for step in steps %}
            <li>
                <form method="POST" action="{% url 'delete_step' step.id %}">
                    {% csrf_token %}
                    <label><strong>Step Name:</strong> {{ step.name }}</label><br>
                    <label for="description_{{ step.id }}">Description:</label>
                    <textarea id="description_{{ step.id }}" name="description">{{ step.description }}</textarea><br>
                    <label>
                        <input type="checkbox" name="is_completed" {% if step.is_completed %}checked{% endif %}>
                        Mark as completed
                    </label><br>
                    <button type="submit">Delete Step</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </main>
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
