<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="animate-header">Register</h1>
            <p class="animate-subtitle">Create your account to manage tasks</p>
        </header>

        <main>
            <form method="POST" action="{% url 'register' %}" class="animate-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                
                <button type="submit" class="animate-button">Register</button>
            </form>

            <div class="additional-links">
                <a href="{% url 'homepage' %}">Back to Homepage</a>
            </div>
        </main>
    </div>
</body>
</html>
