<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="{% static 'css/style-under-construction.css' %}">
</head>
<body>
    <div class="container">
        <h1>We're Working on It!</h1>
        <p>Our team is currently building this page. Thank you for your patience!</p>
        <img src="{% static 'images/construction.png' %}" alt="Under Construction" class="construction-image">
        <a href="{% url 'homepage' %}" class="btn">Go Back to Homepage</a>
    </div>
</body>
</html>
